<div class="container">
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" formControlName="name" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" formControlName="power" required>
        <option value="" disabled selected hidden>Select a value</option>
        <option *ngFor="let pow of powers | async" [value]="pow">{{pow}}</option>
      </select>
    </div>
    <button [disabled]="!heroForm.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
